* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    background: #4E89AE;
    color: #fff;
}

html, body {
    overflow-x: hidden;
    font-size: 63%;
    background-color: #F4F7F6;
    color: #333333;
}

.btn {
    display: inline-block;
    padding: 2rem 1.5rem;
    font-size: 2rem;
    margin-top: 3rem;
    border: none;
    border-radius: 10px;
    background-color: #4E89AE; 
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #863b62; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn:active {
    background-color: #702d4d; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.heading{
    font-size: 4rem;
    font-weight: 600;
    color:rgba(0, 0, 41, 0.8);
    text-shadow: 2px 2px 8px rgba(225, 225, 225, 0.5);
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 2rem;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    
}
.title{

    font-size: 4rem;
    color: #333;
    padding: 0 1rem;
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8%;
    background-color: #4E89AE;
}

.header-logo a{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.851);
    font-size: 2rem;
    text-decoration: none;
}

.header-logo i {
    margin-right: 0.5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
    list-style-type: none; 
    align-items: center; 
}
.navbar-links li a {
    text-decoration: none; 
    color: inherit;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

.navbar-links li a:hover {
    color: #863b62;
}

.menu-toggle{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 20px;
}

.menu-toggle:hover{
    color: #863b62;
}

/* Home Section */
.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('images/wave.png');
    background-size: cover;
    background-position: center;
    padding: 10rem 2rem;
}
.left{
    text-align: center;
    color: black;
    margin-bottom: 40rem;
    padding-bottom: 40rem;

}

.left h1 {
    font-size: 3rem;
    position: relative;
    margin-bottom: 1rem;
    text-shadow: 4px 4px 5px rgba(15, 118, 152, 0.452); 

}

.left p{
    font-size: 1.6rem; 
    font-weight: 300;
    line-height: 1.5; 
    width: 60%; 
    margin-bottom: 5rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}
.right img {
    width: 600px;
    max-width: 100%;
    display: block;
    transform: translateY(-15rem);
    border: 5px solid #4E89AE;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); 
    transition: box-shadow 0.3s ease; 
    margin-right: 1rem;
    margin-top: 10rem;
}
.right .img:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.8); 
}
.about-product {
    max-width: 100%;
    background-color: #FFF; 
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 600px; 
    margin-top: 2rem; 
    margin-top: 2rem;
    padding: 5rem;
    border: 1px solid rgba(78, 137, 174, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    justify-content: center;

    background: linear-gradient(145deg, #f5f7fa, #e4e7ed);
}

.about-product:hover {
    transform: translateY(-10px);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
}
.about-product h3{
    margin-bottom: 2.5rem;
    font-size: medium;
    color: black;
    text-shadow: 1px 1px 4px rgba(4, 34, 105, 0.2); 
    font-weight: bold;
}

.about-product p, .features-list li {
    color: black;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-justify: auto;
    list-style: none;
    padding-left: 0;
}

.features-list i {
    color: #4E89AE;
    margin-right: 1rem;
}

/* collections Section */
.collections {
    padding: 5rem 0;
    text-align: center;
}

.collections .heading, .collections .title {
    margin-bottom: 2rem;
}
.collections .title{
    text-shadow: 4px 4px 5px rgba(15, 118, 152, 0.452); 
}

.collections .description {
    font-size: 2rem;
    color:black;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3rem;
    text-justify: auto;
}

.collections .container1 {
    display: inline-block;
    width: 25%;
    padding: 2rem;
    box-sizing: border-box;
}

.collections .container1 i {
    font-size: 3.5rem;
    color: #4E89AE;
    margin-bottom: 1rem;
}

.collections .container1 h3 {
    font-size: 2rem;
    color: #12637a;
    margin-bottom: 1rem;
    text-shadow: 4px 4px 5px rgba(60, 112, 131, 0.489); 
}

.collections .container1 h3:hover{
    color: #863b62;
}

.collections .container1 p{
    font-size: 1.5rem;
    color: #08324a;
}

/* Product Section */
.product {
    padding: 5rem 0;
    background: #f1f1f1c7;
    text-align: center;
}

.product .heading, .product .title {
    margin-bottom: 2rem;
}
.product .title{
    text-shadow: 4px 4px 5px rgba(15, 118, 152, 0.452); 
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    padding: 25px; 
    align-items: center;  
    justify-content: center;
}

.product-card {
    flex: 0 0 calc(25% - 25px); 
    border: 1px solid #ccccccb5;
    box-shadow: 4px 4px 7px rgba(50, 134, 175, 0.262);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform .3s;
    background-color: rgba(255, 255, 255, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    margin: 0 auto;
}
.product-card:hover {
    transform: translateY(-10px); 
}
.product-image {
    width: 300px;
    height: 250px;
    object-fit: cover; 
    margin: 0 auto 15px; 
}
.product-image img {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
    display: block; 
}

.product-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #3b6d91;
    flex: 1;
}

.product-price {
    font-size: 1.9rem;
    color:#c13579;
    margin-bottom: 10px;
}

.product-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4E89AE;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color .3s;
}

.product-btn:hover {
    background-color: #305f80;
}

/* Contact Section */
.contact {
    padding: 5rem 0;
    background: rgba(175, 159, 171, 0.214);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .heading, .contact .title {
    margin-bottom: 2rem;
}

.contact .title{
    text-shadow: 4px 4px 5px rgba(49, 78, 175, 0.452); 
}

.contact form {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputbox input {
    width: 48%; 
    padding: 1rem;
    margin: 1rem 1% 1rem 0;
    border: none;
    background: rgba(255, 255, 255, 0.088);
    color: black;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.392); 
}

.textarea-box {
    width: 100%;
}

.textarea-box textarea {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    background:rgba(255, 255, 255, 0.088);
    color: black; 
    min-height: 200px;
    box-shadow: inset 0 2PX 5px rgba(0, 0, 0, 0.392);
}

.contact .btn {
    padding: 1rem 2rem;
    margin-top: 1rem;
    cursor: pointer;
    background: #4E89AE;
    border: none;
    color: #fff;
    transition: transform 0.3s ease;
}

.contact .btn:hover {
    background: #3b6d91;
}

/*footer section*/
.footer {
    background-color: #242424;
    color: #ffffff; 
    padding: 4rem 10%;
    font-size: 18px; 
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.footer-section {
    padding: 1.5rem;
}

.footer-section h3 {
    border-bottom: 3px solid #3498db;
    padding-bottom: 0.7rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;  
}

.footer-section p, .footer-section li {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.footer-section ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #bdc3c7;
    transition: color 0.3s;
    padding: 0.3rem 0;
    display: block;
    font-size: 1.1rem;
}

.footer-section ul li a:hover {
    color: #3498db; 
}

.footer-end {
    text-align: center;
    margin-top: 4rem;
    font-size: 1rem; 
    border-top: 2px solid #7f8c8d; 
    padding-top: 1.5rem;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        display: none; 
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; 
        left: 0;
        z-index: 1000;
    }

    .navbar-links li a {
        padding: 0.5rem 0;
    }

    .menu-toggle {
        display: block;
    }

    .home {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }

    .right img {
        width: 85%;
       margin: 0 auto;
    }

    .collections .container1 {
        width: 100%;
        margin-bottom: 1rem;
        align-items: center;
    }

    .product-container {
        flex-direction: column;
    }

    .product-card {
        flex: 0 0 100%;
        margin-bottom: 2rem;
    }

    .inputbox {
        flex-direction: column;
    }

    .inputbox input {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
    }
}


